*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #090040;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    font-family: 'Press Start 2P', cursive;
}
.help-icon{
    font-family: 'Press Start 2P', cursive;
    background-color: #090040;
    text-align: center;
    color: #FFCC00;
    width: 2rem;
    height: 2rem;
    border: 1px solid;
    align-content: center;
    border-radius: 50%;
    z-index: 2;
    position: fixed;
    top: 20px;
    left: 20px;
}
#help-details{
    background-color: #090040;
    color: #FFCC00;
    border: 1px solid;
    padding: 1rem;
    width: 60%;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: 0;
    transform: translate(-50%, -50%);
    line-height: 1.5rem;
}
section{
    margin-top: 100px;
}
.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFCC00;
    font-size: 1rem;
    text-align: center;
    height: 2rem;
}
h1{
    display: inline-block;
    padding: .5rem;
}
/* justify content work for each section to get into center if grid is full width (1fr 1fr would have taken full width with half half column) */
/* justify items work for items inside each seaction to where to align its conent */
.color-button-container{
    width: 100%;
    display: grid;
    grid-template-columns: 150px 150px;
    justify-content: center;
    justify-items: center;
}
.mode-selection{
    color: #FFCC00;
    padding: 1.5rem 0;
    accent-color: #FFCC00;
}
.color-button{
    margin: 25px;
    display: inline-block;
    height: 100px;
    width: 100px;
    border: 10px solid black;
    border-radius: 20%;
    transition: transform 0.3s ease
}
#green{
    background-color: green;
}
#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
.active {
    background-color: white !important;
    box-shadow: 0 0 10px 10px var(--glow-color);
    transform: scale(1.1);
}
.play-button{
    user-select: none;
    background-color: #FFCC00;
    padding: 1rem;
    border-radius: 100px;
    border: 3px solid;
    width: 40%;
    text-align: center;
}
.hide{
    display: none;
}
.wrong{
    background-color: red;
}
.right{
    background-color: greenyellow;
}
.red-text{
    color: red;
}
@media (max-width:768px) {
    .heading{
        font-size: .5rem;
    }
    #help-details{
        width: 96%;
    }
}